# Node modules
node_modules/

# Build
dist/

# Env variables
.env

# Logs
*.log

# Cache
.nyc_output/
coverage/
.cache/
tmp/

# Mac/Linux
.DS_Store

# IDEs
.vscode/
.idea/

#package-lock.json
package-lock.json